@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  background-color: #f2f2f2;
}

.page-wrapper {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
}

.main-container {
  flex-grow: 1;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
}

.button {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  padding: 8px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-search {
  font-size: 20px;
  line-height: 36px;
  background-color: #756157;
  width: 376px;
  margin: 0 auto 0 auto;
  justify-content: center;
  align-items: center;
}

.button-search:hover {
  background-color: #615048;
}

.button-search:focus {
  background-color: #615048;
  border: none;
}

.button-search:active {
  background-color: #756157;
  color: rgba(255, 255, 255, 0.3);
}

.button-subscribe {
  font-size: 20px;
  line-height: 36px;
  border-radius: 0 4px 4px 0;
  background-color: #82B3D3;
  width: 232px;
}

.button-subscribe:hover {
  background-color: #68a2ca;
}

.button-subscribe:focus {
  background-color: #68a2ca;
  border: none;
}

.button-subscribe:active {
  background-color: #82b3d3;
  color: rgba(255, 255, 255, 0.3);
}

.button-subscribe:disabled {
  background-color: #e5e5e5;
}

.navigation-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-decoration: none;
  color: #000000;
  display: block;
  padding: 20px 16px;
  position: relative;
}

.navigation-link:hover {
  opacity: 0.6;
}

.navigation-link:focus {
  opacity: 0.4;
}

.navigation-link:active {
  opacity: 0.3;
}

.navigation-link-current::before {
  position: absolute;
  right: 16px;
  bottom: 0;
  left: 16px;
  height: 2px;
  background-color: #756257;
  content: "";
}

.page-header {
  z-index: 1;
  display: flex;
  padding: 0 70px;
  min-height: 64px;
}

.page-header-logo {
  position: absolute;
  margin: 0 30px -6px 0;
  padding: 0;
}

.navigation {
  display: flex;
  position: relative;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  max-width: 540px;
  margin: 0 0 0 168px;
  padding: 0;
  list-style-type: none;
  align-items: center;
}

.user-navigation {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  margin-left: auto;
  justify-content: flex-end;
  align-items: center;
  align-self: start;
}

.user-navigation-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  fill: #000000;
}

.user-navigation-search {
  position: relative;
  display: block;
  min-width: 44px;
  min-height: 64px;
  margin: 0;
  background-image: url(../images/icons/icon-search.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.user-navigation-search:hover {
  opacity: 0.6;
}

.user-navigation-search:focus {
  opacity: 0.4;
}

.user-navigation-search:active {
  opacity: 0.3;
}

.user-navigation-like {
  position: relative;
  display: block;
  min-width: 44px;
  min-height: 64px;
  margin: 0 20px 0 0;
  background-image: url(../images/icons/icon-like.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.user-navigation-like::after {
  content: "12";
  position: absolute;
  font-size: 10px;
  line-height: 10px;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  background-color: #7db54f;
  bottom: 50%;
  left: 50%;
}

.user-navigation-like:hover {
  opacity: 0.6;
}

.user-navigation-like:focus {
  opacity: 0.4;
}

.user-navigation-like:active {
  opacity: 0.3;
}

.user-navigation-wish {
  background-color: #756157;
  margin: 14px 0;
  min-width: 160px;
  justify-content: center;
  align-items: center;
}

.user-navigation-wish:hover {
  background-color: #615048;
}

.user-navigation-wish:focus {
  background-color: #615048;
  border: none;
}

.user-navigation-wish:active {
  background-color: #756157;
  color: rgba(255, 255, 255, 0.3);
}

.intro {
  position: relative;
  background-image: url("../images/index/background/background-welcome-to-sedona.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #718eab;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 51px 51px 82px 51px;
}

.intro::after {
  position: absolute;
  content: url(..//images/icons/background-welcome-to-sedona-border.svg);
  width: 1200px;
  height: 57px;
  bottom: 0;
}

.advantages {
  padding-top: 69px;
}

.advantages-card {
  display: flex;
  flex-wrap: wrap;
}

.advantages-card-content {
  width: 400px;
  background-color: #82b3d3;
  text-align: center;
  padding: 92px 85px 111px 85px;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.advantages-item {
  width: 400px;
  text-align: center;
  padding: 103px 85px 121px 85px;
}

.advantages-main-title,
.main-text {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
  text-align: center;
}

.advantages-main-title {
  margin: 0 auto 25px auto;
  max-width: 625px;
}

.advantages-main-description {
  margin: 0 auto 90px auto;
  max-width: 670px;
  text-align: center;
}

.advantages-card-title {
  position: relative;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
  margin: 0 0 62px 0;
}

.advantages-card-title::after {
  position: absolute;
  bottom: -30px;
  left: 50%;
  width: 60px;
  height: 2px;
  margin-left: -30px;
  background-color: rgba(255, 255, 255, 0.3);
  content: "";
}

.advantages-card-description {
  font-size: 18px;
  line-height: 21px;
  color: #ffffff;
  margin: 0;
}

.advantages-list-first-disposition li:nth-child(odd) {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-list-first-disposition li:nth-child(even) {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-list-second-disposition li:nth-child(odd) {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-list-second-disposition li:nth-child(even) {
  background-color: #ffffff;
}

.advantages-title {
  position: relative;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  text-align: center;
  color: #000000;
  margin: 0 28px 62px 28px;
}

.advantages-list-first-disposition .advantages-title::after {
  position: absolute;
  bottom: -32px;
  left: 50%;
  width: 60px;
  height: 2px;
  margin-left: -30px;
  background-color: rgba(0, 0, 0, 0.3);
  content: "";
}

.advantages-list-second-disposition .advantages-item {
  padding: 80px 85px 81px 85px;
}

.advantages-list-second-disposition .advantages-title {
  margin: 102px 0 30px 0;
}

.advantages-description {
  font-size: 18px;
  line-height: 21px;
  margin: 0;
}

.advantages-item-dwelling {
  background-image: url("../images/icons/icon-dwelling.svg");
  background-repeat: no-repeat;
  background-position: 50% 80px;
}

.advantages-item-food {
  background-image: url("../images/icons/icon-food.svg");
  background-repeat: no-repeat;
  background-position: 50% 80px;
}

.advantages-item-remembrance {
  background-image: url("../images/icons/icon-remembrance.svg");
  background-repeat: no-repeat;
  background-position: 50% 80px;
}

.looking-for-a-hotel {
  align-items: center;
  padding: 96px 0 96px 0;
}

.main-text {
  margin: 0 auto 20px auto;
  max-width: 625px;
  text-align: center;
}

.main-description-text {
  margin: 0 auto 54px auto;
  max-width: 625px;
  text-align: center;
}

.newsletter-index {
  display: flex;
  flex-direction: column;
  color: #ffffff;
  background-color: #486c84;
  background-image: url("../images/index/background/background-newsletter.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0 auto;
  text-align: center;
  padding: 96px 258px 104px 258px;
}

.page-newsletter-title-index {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #ffffff;
  margin: 0 0 20px 0;
}

.page-newsletter-description-index {
  margin: 0 0 54px 0;
}

.newsletter-form {
  margin: 0;
  padding: 0;
  text-align: center;
  display: flex;
}

.page-footer {
  display: flex;
  padding: 40px 70px 30px 70px;
  justify-content: space-between;
}

.footer-social-list {
  margin: 5px 0;
  padding: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  min-width: 142px;
  align-items: center;
}

.footer-social-item {
  height: 40px;
  padding: 0 10px;
  display: block;
  position: relative;
}

.footer-social-item svg:hover {
  fill: #68a2ca;
}

.footer-social-item svg:focus {
  fill: #68a2ca;
}

.footer-social-item svg:active {
  fill: rgba(104, 162, 202, 0.3);
}

.footer-button-vk:focus {
  outline: 2px solid #68a2ca;
  outline-offset: -2px;
}

.footer-button-telegram:focus {
  outline: 2px solid #68a2ca;
  outline-offset: -2px;
}

.footer-button-youtube:focus {
  outline: 2px solid #68a2ca;
  outline-offset: -2px;
}

.footer-button-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  fill: #83B3D3;
}

.footer-contacts-address-phone {
  font-size: 40px;
  line-height: 40px;
  text-decoration: none;
  color: #000000;
  text-align: center;
  margin-top: 5px;
  justify-self: center;
}

.footer-contacts-address-phone:hover {
  color: #756157;
}

.footer-contacts-address-phone:focus {
  color: #756157;
}

.footer-contacts-address-phone:active {
  color: rgba(117, 97, 87, 0.3);
}

.footer-html-academy-link {
  display: inline-block;
  vertical-align: middle;
  align-self: start;
}

.footer-logo {
  fill: #000000;
}

.footer-logo:hover {
  fill: #756157;
}

.footer-logo:focus {
  fill: #756157;
}

.footer-logo:active {
  fill: rgba(117, 97, 87, 0.3);
}

.filter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url("../images/catalog/background/catalog-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #718eab;
  margin: 0;
  padding: 35px 70px 70px 70px;
}

.inner-header-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  color: #ffffff;
  margin: 0 0 8px 0;
}

.breadcrumbs {
  display: flex;
  color: #ffffff;
  margin: 0 0 40px 0;
  padding: 0;
  list-style-type: none;
  background-image: url("../images/icons/arrow-right.svg");
  background-repeat: no-repeat;
  background-position: 23px 50%;
}

.breadcrumbs-item {
  display: block;
  position: relative;
  align-items: center;
}

.breadcrumbs-link {
  color: inherit;
  font-size: 16px;
  line-height: 21px;
  display: block;
  align-items: center;
  position: relative;
}

.breadcrumbs-link-to-index {
  position: relative;
  display: block;
  width: 13px;
  height: 16px;
  background-image: url(../images/icons/icon-to-index.svg);
  background-repeat: no-repeat;
  background-position: bottom;
  margin-right: 28px;
}

.breadcrumbs-link-to-index:hover {
  opacity: 0.8;
}

.breadcrumbs-link-to-index:focus {
  opacity: 0.8;
}

.breadcrumbs-link-to-index:active {
  opacity: 0.3;
}

.catalog-filter {
  display: grid;
  grid-template-columns: 150px 1fr 150px 2fr 288px 1fr 191px;
}

.catalog-filter-group {
  border: none;
  padding: 0;
  margin: 0;
}

.catalog-filter-group-infrastructure {
  grid-column: 1 / 2;
}

.catalog-filter-group-type-of-dwelling {
  grid-column: 3 / 4;
}

.catalog-filter-group-cost {
  grid-column: 5 / 6;
}

.catalog-filter-group-buttons {
  grid-column: 7 / 8;
  padding-top: 56px;
}

.catalog-filter-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.catalog-filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
  margin: 0 0 32px 0;
}

.catalog-filter-item {
  font-size: 18px;
  line-height: 23px;
  color: #ffffff;
  margin-bottom: 16px;
}

.catalog-filter-item:last-child {
  margin-bottom: 0;
}

.control {
  position: relative;
  display: block;
  padding-left: 36px;
}

.control-label {
  line-height: 23px;
  font-size: 18px;
}

.control-mark {
  position: absolute;
  left: 0;
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  border: none;
  border-radius: 4px;
}

.control:hover {
  opacity: 0.6;
}

.control-input:focus + .control-mark {
  outline: 3px solid #83b3d3;
}

.control:active {
  opacity: 0.3;
}

.control-input[type="checkbox"]:checked + .control-mark::before {
  position: absolute;
  background-image: url("../images/icons/icon-checkbox.svg");
  top: 5px;
  left: 4px;
  width: 12px;
  height: 10px;
  content: "";
}

.control-input {
  position: absolute;
  top: 5%;
  width: 20px;
  height: 20px;
  border: none;
  margin-right: 16px;
  border-radius: 4px;
}

.control-input[type="radio"] + .control-mark {
  border-radius: 50%;
}

.control-input[type="radio"]:checked + .control-mark::before {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 10px;
  height: 10px;
  background-color: #3f5e72;
  border-radius: 50%;
  content: "";
}

.cost-min-max {
  display: flex;
  margin-bottom: 36px;
}

.cost-from {
  position: relative;
  display: block;
}

.cost-min-price {
  font-family: inherit;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  width: 143px;
  margin-right: 2px;
  padding: 12px 57px 12px 20px;
  background-color: #f2f2f2;
  border: none;
  border-radius: 4px 0 0 4px;
}

.cost-min-price:hover {
  background-color: #e6e6e6;
}

.cost-min-price:focus {
  background-color: #e6e6e6;
  outline: 3px solid #83b3d3;
}

.cost-min-price:active {
  background-color: #f2f2f2;
  outline: 2px solid #000000;
  outline-offset: -2px;
}

.cost-min-price::placeholder {
  color: #000000;
}

.cost-min-price-from {
  position: absolute;
  top: 12px;
  right: 20px;
  margin: 0;
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.3);
}

.cost-to {
  position: relative;
  display: block;
}

.cost-max-price {
  font-family: inherit;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  width: 143px;
  padding: 12px 57px 12px 20px;
  background-color: #f2f2f2;
  border: none;
  border-radius: 0 4px 4px 0;
}

.cost-max-price:hover {
  background-color: #e6e6e6;
}

.cost-max-price:focus {
  background-color: #e6e6e6;
  outline: 3px solid #83b3d3;
}

.cost-max-price:active {
  background-color: #f2f2f2;
  outline: 2px solid #000000;
  outline-offset: -2px;
}

.cost-max-price::placeholder {
  color: #000000;
}

.cost-max-price-to {
  position: absolute;
  top: 12px;
  right: 20px;
  margin: 0;
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.3);
}

.range-scale {
  position: relative;
  height: 4px;
  background-color: rgba(255,255,255,0.3);
}

.range-bar {
  position: absolute;
  height: 4px;
  background-color: #ffffff;
  right: 61px;
  width: 227px;
}

.range-toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.range-toggle:hover {
  background-color: #ffffff;
}

.range-toggle:focus {
  outline: 3px solid #83B3D3;
}

.range-toggle:active {
  outline: 2px solid #83B3D3;
}

.toggle-min {
  top: -8px;
  left: 0;
}

.toggle-max {
  top: -8px;
  right: -10px;
}

.button-apply {
  background-color: #82B3D3;
  width: 191px;
  margin: 0 0 32px 0;
}

.button-apply:hover {
  background-color: #68a2ca;
}

.button-apply:focus {
  background-color: #68a2ca;
  border: none;
}

.button-apply:active {
  background-color: #82b3d3;
  color: rgba(255, 255, 255, 0.3);
}

.button-apply:disabled {
  background-color: #e5e5e5;
}

.button-transparent {
  width: 191px;
  background-color: transparent;
}

.button-transparent:hover {
  color: rgba(255, 255, 255, 0.6);
}

.button-transparent:focus {
  outline: 3px solid #83b3d3;
  outline-offset: -3px;
}

.button-transparent:active {
  color: rgba(255, 255, 255, 0.3);
}

.button-transparent:disabled {
  color: rgba(255, 255, 255, 0.1);
}

.sort {
  display: flex;
  text-align: center;
  align-items: start;
  padding: 0;
  margin: 0 0 40px 0;
}

.sort-list {
  margin: 0;
  padding: 5px;
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(3, 48px);
  gap: 8px;
}

.sort-item {
  position: relative;
}

.card-grid-toggle {
  display: flex;
  width: 48px;
  height: 48px;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  padding: 17px 16px;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
}

.card-grid-toggle:hover {
  border: 2px solid #000000;
}

.card-grid-toggle:focus {
  border: 2px solid #68a2ca;
}

.card-grid-toggle:active {
  border: 2px solid #000000;
}

.card-grid-toggle svg {
  fill: #000000;
}

.card-grid-toggle-current {
  border: 2px solid #000000;
}

.sort-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.number-of-accessible-hotels {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin-right: auto;
  margin-top: 6px;
}

.select {
  position: relative;
  display: flex;
  align-items: center;
  width: 290px;
  margin-right: auto;
}

.select-control {
  font-family: inherit;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  width: 292px;
  color: #333333;
  background-color: rgba(255, 255, 255, 1);
  border: none;
  border-radius: 4px;
  background-image: url("../images/icons/arrow-bottom.svg");
  background-repeat: no-repeat;
  background-position: right 20px center;
  padding: 14px 40px 14px 20px;
  margin-right: 70px;
  appearance: none;
}

.select-control:hover {
  outline: 2px solid #68a2ca;
}

.select-control:focus {
  outline: 2px solid #68a2ca;
}

.select-control:active {
  outline: 2px solid #3f5e72;
}

.select-control:active {
  outline: 2px solid #3f5e72;
}

.select-control:disabled {
  color: rgba(0, 0, 0);
  border: rgba(0, 0, 0);
  opacity: 0.3;
}

.hotel-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin: 0 0 40px 0;
  padding: 0 0 40px 0;
  list-style-type: none;
  border-bottom: 1px solid #e6e6e6;
}

.hotel-card {
  display: flex;
  flex-direction: column;
  border: 1px solid #e6e6e6;
  border-radius: 4px;
  padding: 20px;
}

.hotel-card-link {
  text-decoration: none;
  margin: 0 0 16px 0;
  padding: 0;
}

.hotel-card-image {
  margin-bottom: 16px;
  object-fit: cover;
}

.hotel-card-description {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px 16px;
  margin: 0;
}

.hotel-card-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  margin: 0;
  padding: 0;
}

.hotel-card-type {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.hotel-card-price {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: right;
  color: #333333;
}

.button-more {
  background-color: #756157;
}

.button-more:hover {
  background-color: #615048;
}

.button-more:focus {
  background-color: #615048;
  border: none;
}

.button-more:active {
  background-color: #756157;
  color: rgba(255, 255, 255, 0.3);
}

.button-to-favourites {
  background-color: #82B3D3;
}

.button-to-favourites:hover {
  background-color: #68a2ca;
}

.button-to-favourites:focus {
  background-color: #68a2ca;
  border: none;
}

.button-to-favourites:active {
  background-color: #82b3d3;
  color: rgba(255, 255, 255, 0.3);
}

.button-in-favourites {
  background-color: #7DB54F;
}

.button-in-favourites:hover {
  background-color: #6c9e42;
}

.button-in-favourites:focus {
  background-color: #6c9e42;
  border: none;
}

.button-in-favourites:active {
  background-color: #7db54f;
  color: rgba(255, 255, 255, 0.3);
}

.hotels-stars {
  height: 17px;
  align-self: center;
  background-image: url(../images/icons/raiting-star.svg);
  background-repeat: space;
  width: 100px;
}

.hotels-stars-1 {
  width: 18px;
}

.hotels-stars-2 {
  width: 42px;
}

.hotels-stars-3 {
  width: 66px;
}

.hotels-stars-4 {
  width: 89px;
}

.hotels-stars-5 {
  width: 107px;
}

.hotels-rating {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #333333;
  background-color: #f2f2f2;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 9px 5px 8px 5px;
}

.pagination {
  display: grid;
  grid-template-columns: repeat(auto-fill, 60px);
  gap: 8px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.pagination-link {
  display: flex;
  color: #ffffff;
  background-color: #82B3D3;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  padding: 5px;
  text-decoration: none;
  border-radius: 4px;
  align-items: center;
  justify-content: center;
  min-height: 60px;
}

.pagination-link:hover {
  background-color: #68a2ca;
}

.pagination-link:focus {
  background-color: #68a2ca;
  border: none;
}

.pagination-link:active {
  background-color: #82b3d3;
  color: rgba(255, 255, 255, 0.3);
}

.pagination-current {
  color: #000000;
  background-color: #f2f2f2;
}

.pagination-current:hover {
  color: #000000;
  background-color: #f2f2f2;
}

.pagination-current:focus {
  color: #000000;
  background-color: #f2f2f2;
  border: none;
}

.pagination-current:active {
  color: #000000;
  background-color: #f2f2f2;
}

.pagination-other {
  color: #000000;
  background-color: #ffffff;
}

.pagination-other:hover {
  color: #000000;
  background-color: #ffffff;
}

.pagination-other:focus {
  color: #000000;
  background-color: #ffffff;
  border: none;
}

.pagination-other:active {
  color: #000000;
  background-color: #ffffff;
}

.newsletter-catalog {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 0 auto;
  padding: 96px 258px 104px 258px;
}

.page-newsletter-title-catalog {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
  margin: 0 0 20px 0;
}

.page-newsletter-description-catalog {
  margin: 0 0 54px 0;
}

.field {
  font-family: inherit;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  width: 452px;
  margin: 0;
  padding: 14px 20px;
  background-color: #f2f2f2;
  border: none;
  border-radius: 4px 0 0 4px;
}

.field:hover {
  background-color: #e6e6e6;
}

.field:focus {
  background-color: #e6e6e6;
  outline: 3px solid #83b3d3;
  outline-offset: -3px;
}

.field:active {
  background-color: #f2f2f2;
  outline: 2px solid #000000;
  outline-offset: -2px;
}

.field::placeholder {
  color: #000000;
  opacity: 0.6;
}

.catalog-result {
  padding: 50px 70px 60px 70px;
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(242, 242, 242, 0.8);
}

.modal {
  position: relative;
  margin: auto;
  background-color: #ffffff;
  min-width: 577px;
  min-height: 448px;
  padding: 64px 70px;
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.15);
  border-radius: 30px;
}

.appointment-form {
  display: grid;
  grid-template-areas:
    "appointment-label appointment appointment appointment"
    "departure-label departure departure departure"
    "adult adult-button children children-button"
    "search search search search";
  grid-template-columns: 137px 144px 144px 153px;
  row-gap: 48px;
}

.appointment-label {
  grid-area: appointment-label;
  padding: 12px 24px 12px 0;
}

.departure-label {
  grid-area: departure-label;
  padding: 12px 18px 12px 0;
}

.input-appointment {
  position: relative;
  grid-area: appointment;
}

.input-departure {
  position: relative;
  grid-area: departure;
}

.amount-adult {
  grid-area: adult;
}

.adult-button {
  grid-area: adult-button;
}

.amount-children {
  grid-area: children;
  margin-left: auto;
}

.children-button {
  grid-area: children-button;
  margin-left: auto;
}

.modal-title {
  margin: 0 164px 64px 0;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  max-width: 577px;
  text-transform: uppercase;
  grid-area: title;
}

.modal-close-button {
  position: absolute;
  padding: 0;
  top: 63px;
  right: 52px;
  width: 52px;
  height: 52px;
  background-color: #f2f2f2;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.close-image {
  fill: #000000;
}

.modal-close-button:focus {
  background-color: #e6e6e6;
  outline: 3px solid #83b3d3;
}

.modal-close-button:active {
  outline: none;
  background-color: #e6e6e6;
}

.modal-close-button:hover {
  background-color: #e6e6e6;
}

.modal-close-button:active .close-image {
  opacity: 0.3;
  outline: none;
}

.modal-container-close {
  display: none;
}

.modal-field {
  height: 48px;
  width: 100%;
  margin: 0;
  border: none;
  border-radius: 4px;
  background: #f2f2f2;
  padding: 14px 42px 14px 21px;
  color: #000000;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  font-family: inherit;
  background-image: url("../images/icons/calendar.svg");
  background-repeat: no-repeat;
  background-position: center right 22px;
}

.modal-field:focus-visible {
  background-color: #e6e6e6;
  outline: 3px solid #83b3d3;
  border-radius: 4px;
}

.modal-field:active {
  background-color: #ffffff;
  outline: 2px solid #000000;
  border-radius: 4px;
  opacity: 1;
}

.modal-field:hover {
  background-color: #e6e6e6;
  opacity: 0.6;
}

.appointment-date {
  margin-right: 24px;
}

.departure-date {
  margin-right: 18px;
}

.form-label,
.field-label {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
}

.field-label {
  padding: 12px 46px 12px 0;
}

.error {
  position: absolute;
  color: #ff5757;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  top: 36px;
  left: 21px;
  margin-bottom: 0;
  display: none;
}

.is-invalid + .error {
  display: block;
}

.luck {
  position: absolute;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #333333;
  top: 36px;
  left: 21px;
  margin-bottom: 0;
  display: none;
}

.is-valid + .luck {
  display: block;
}

.field-box {
  display: grid;
  grid-template-columns: 40px 31px 40px;
  align-items: center;
  margin-bottom: auto;
}

.field-number {
  width: 31px;
  height: 48px;
  border: none;
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
  font-family: inherit;
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  outline: none;
}

.field-number::-webkit-outer-spin-button,
.field-number::-webkit-inner-spin-button {
  display: none;
}

.field-number[type='number'] {
  appearance: textfield;
}

.decrease {
  border-radius: 4px 0 0 4px;
}

.addition {
  border-radius: 0 4px 4px 0;
}

.field-button {
  display: block;
  width: 40px;
  height: 48px;
  background-color: #f2f2f2;
  border: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
  outline: none;
}

.image-decrease,
.image-addition {
  width: 20px;
  height: 20px;
  padding: 2px;
  fill: rgba(117, 97, 87, 0.3);
}

.field-button:focus .image-decrease,
.field-button:focus .image-addition {
  outline: 3px solid #83b3d3;
  border-radius: 2px;
  fill: #000000;
}

.field-button:active .image-decrease,
.field-button:active .image-addition {
  opacity: 0.2;
  outline: none;
}

.field-button:hover .image-decrease,
.field-button:hover .image-addition {
  outline: none;
  fill: #000000;
}

.search-button {
  color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  min-width: 577px;
  min-height: 36px;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  background-color: #82b3d3;
  grid-area: search;
}

.search-button:hover {
  background-color: #68a2ca;
}

.search-button:focus-visible {
  background-color: #68a2ca;
}

.search-button:active {
  color: rgba(255, 255, 255, 0.3);
}

.search-button:disabled {
  background-color: #e5e5e5;
  color: #ffffff;
}

.tooltip-toggle {
  margin: 0;
  display: block;
  border-radius: 50%;
  border: none;
  padding: 8px 12px;
  background-color: #83b3d3;
  width: 26px;
  height: 26px;
}

.tooltip-text {
  background-color: #333333;
  color: #ffffff;
  font-family: inherit;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  text-transform: none;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  padding: 15px 18px 18px 22px;
  width: 256px;
  position: absolute;
  margin-top: 16px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  display: none;
}

.tooltip {
  position: absolute;
  margin-left: -34px;
  width: 26px;
  height: 26px;
}

.tooltip-toggle:hover + .tooltip-text,
.tooltip-toggle:focus + .tooltip-text {
  display: block;
}

.form-label-icon {
  position: relative;
  padding: 11px 0 0 54px;
}

.tooltip-text::after {
  content: "";
  background-image: url("../images/icons/tooltip-arrow.svg");
  width: 19px;
  height: 9px;
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}
